html, body, div, span {
	padding: 0;
	margin: 0;
	font-family: sans-serif;
}

@media only screen and (min-width: 800px) {

	.content {
		width: 480px;
		margin: 0 auto;
	}

}

@media only screen and (max-width: 800px) {

	.content {
		width: 100%;
		margin: 0 auto;
	}
	
}


.header {
	height: 56px;
	line-height: 56px;
	background-color: lightgreen;
	text-align: center;
}

.header span {
	margin: 8px;
	font-weight: bold;
}

.section-header {
	height: 48px;
	line-height: 48px;
	background-color: lightgrey;
}

.section-header span {
	margin: 8px;
}

.progress {
	width: 100%;
	text-align: center;
	padding: 8px;
}

table {
	width: 100%;
}

.field-input {
	margin: 8px;
	width: 100%;
}

.field-input label {
	display: block;
}

.field-input input {
	font-size: 1.2em;
	width: 80%;
}